Repository lamallamadel/aiteam: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Path conditions:
  build-backend: any of: ai-orchestrator/**/*, .gitlab-ci.yml
  build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  test-backend: any of: ai-orchestrator/**/*, .gitlab-ci.yml
  test-frontend: any of: frontend/**/*, .gitlab-ci.yml
  deploy-backend: any of: ai-orchestrator/**/*, docker-compose.prod.yml, .gitlab-ci.yml
  deploy-frontend: any of: frontend/**/*, nginx-prod.conf, .gitlab-ci.yml

Add authentication-based conditional UI with route guards and user menu dropdownCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  frontend/src/app/app.css
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/guards/auth.guard.ts
  frontend/src/app/services/auth.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Add light theme support with theme switching infrastructure and toggle button
  frontend/src/app/app.config.ts
  frontend/src/app/app.css
  frontend/src/app/app.html
  frontend/src/app/app.ts
  frontend/src/app/services/theme.service.ts
  frontend/src/styles.css
Due: build-frontend, test-frontend, deploy-frontend

Unify duplicated form/button styles and add responsive + accessibility polish to auth pages
  frontend/src/app/components/login.component.ts
  frontend/src/app/components/register.component.ts
  frontend/src/styles.css
Due: build-frontend, test-frontend, deploy-frontend

Create global toast notification service and component with animations and replace existing alertsCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  frontend/src/app/app.html
  frontend/src/app/app.ts
  frontend/src/app/components/login.component.ts
  frontend/src/app/components/register.component.ts
  frontend/src/app/components/settings-dashboard.component.ts
  frontend/src/app/components/shared/toast-container.component.ts
  frontend/src/app/services/toast.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Build forgot-password and password-reset frontend flow with components, routing, and form validationCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  frontend/src/app/app.routes.ts
  frontend/src/app/components/forgot-password.component.ts
  frontend/src/app/components/login.component.ts
  frontend/src/app/components/reset-password.component.ts
  frontend/src/app/components/shared/password-strength.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Add inline password-strength meter and real-time validation to registration
  frontend/src/app/components/onboarding-flow.component.ts
  frontend/src/app/components/register.component.ts
  frontend/src/app/components/shared/password-strength.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Implement TOTP MFA setup and verification with backend controllers and servicesCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  ai-orchestrator/MFA_IMPLEMENTATION.md
  ai-orchestrator/pom.xml
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/CurrentUserDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/MfaLoginResponse.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/MfaSetupRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/MfaSetupResponse.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/MfaVerifyRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/MfaVerifySetupRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AuthController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/MfaController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/UserEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AuthenticationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/MfaRequiredException.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/MfaService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/MfaTokenService.java
Due: build-backend, test-backend, deploy-backend

Build frontend MFA setup and login challenge UI with QR code display and verification
  frontend/src/app/app.routes.ts
  frontend/src/app/components/login.component.ts
  frontend/src/app/components/mfa-challenge.component.ts
  frontend/src/app/components/mfa-setup.component.ts
  frontend/src/app/components/user-profile.component.ts
  frontend/src/app/models/orchestrator.model.ts
Due: build-frontend, test-frontend, deploy-frontend

Add Inter and JetBrains Mono fonts, apply typography polish, and replace emoji icons with SVG throughout the application
  frontend/src/app/app.css
  frontend/src/app/app.html
  frontend/src/app/components/login.component.ts
  frontend/src/index.html
  frontend/src/styles.css
Due: build-frontend, test-frontend, deploy-frontend

test: add E2E backend testing infrastructure and Happy Path scenario
  ai-orchestrator/pom.xml
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/configuration/AbstractE2ETest.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/scenarios/HappyPathCodeGenerationE2ETest.java
  ai-orchestrator/src/e2e/resources/application-e2e.properties
  ai-orchestrator/src/e2e/resources/logback-test.xml
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/GitHubApiClient.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/GitHubAppService.java
  ai-orchestrator/src/main/resources/ai/schemas/ticket_plan.schema.json
  ai-orchestrator/src/main/resources/ai/schemas/work_plan.schema.json
  ai-orchestrator/src/main/resources/db/migration/V10__create_collaboration_events.sql
  ai-orchestrator/src/main/resources/db/migration/V11__graft_execution_log.sql
  ai-orchestrator/src/main/resources/db/migration/V12__create_persisted_collaboration_messages.sql
  ai-orchestrator/src/main/resources/db/migration/V13__add_collaboration_state_tracking.sql
  ai-orchestrator/src/main/resources/db/migration/V14__create_auth_tables.sql
  ai-orchestrator/src/main/resources/db/migration/V15__create_password_history_table.sql
  ai-orchestrator/src/main/resources/db/migration/V16__add_file_upload_artifacts.sql
  ai-orchestrator/src/main/resources/db/migration/V17__add_column_encryption.sql
  ai-orchestrator/src/main/resources/db/migration/V6__add_environment_checkpoint.sql
  ai-orchestrator/src/main/resources/db/migration/V7__add_autonomy.sql
  ai-orchestrator/src/main/resources/db/migration/V8__add_pipeline_mutations.sql
  ai-orchestrator/src/test/java/com/atlasia/ai/controller/A2AControllerTest.java
  ai-orchestrator/src/test/resources/application.properties
Due: build-backend, test-backend, deploy-backend

feat: ajout de la configuration automatique de mise à jour de la configuration de build Java
  .vscode/settings.json
Due: none

Implement GitHub webhook receiver endpoint with signature verification, event filtering, and audit logging
  .env.example
  README.md
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/WebhookController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/WebhookEventEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/WebhookEventRepository.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/main/resources/db/migration/V18__create_webhook_events.sql
  docs/WEBHOOKS.md
Due: build-backend, test-backend, deploy-backend

Build contract testing framework for A2A agent protocol
  ai-orchestrator/CONTRACT_TESTING_IMPLEMENTATION.md
  ai-orchestrator/pom.xml
  ai-orchestrator/src/test/java/com/atlasia/ai/contract/A2AContractIntegrationTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/contract/A2AContractTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/contract/A2AContractTestBase.java
  ai-orchestrator/src/test/java/com/atlasia/ai/contract/ContractValidationHelper.java
  ai-orchestrator/src/test/java/com/atlasia/ai/contract/ContractValidationTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/contract/package-info.java
  ai-orchestrator/src/test/resources/contracts/CONTRACT_TEST_OVERVIEW.md
  ai-orchestrator/src/test/resources/contracts/README.md
  ai-orchestrator/src/test/resources/contracts/agent-card-schema.json
  ai-orchestrator/src/test/resources/contracts/agent-registration.json
  ai-orchestrator/src/test/resources/contracts/binding-verification.json
  ai-orchestrator/src/test/resources/contracts/capability-discovery.json
  ai-orchestrator/src/test/resources/contracts/multi-capability-discovery.json
  ai-orchestrator/src/test/resources/contracts/task-submission.json
Due: build-backend, test-backend, deploy-backend

Create agent marketplace UI component with browsing, filtering, installation, version management, health monitoring, and admin approval workflow
  AGENT_MARKETPLACE_IMPLEMENTATION.md
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/A2AController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/A2ADiscoveryService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/RoleService.java
  ai-orchestrator/src/test/java/com/atlasia/ai/contract/A2AContractIntegrationTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/controller/A2AControllerTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/service/A2ADiscoveryServiceTest.java
  docs/AGENT_MARKETPLACE.md
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/components/agent-marketplace.component.ts
  frontend/src/app/components/index.ts
  frontend/src/app/services/orchestrator.service.ts
  frontend/src/app/services/toast.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Implement Java SPI-based plugin architecture for custom review roles and agent extensionsCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  .gitignore
  PLUGIN_ARCHITECTURE_IMPLEMENTATION.md
  ai-orchestrator/src/main/java/com/atlasia/ai/config/PluginHealthIndicator.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/PluginController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AgentPlugin.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AgentStepFactory.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/PluginContext.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/PluginManager.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/PluginSecurityManager.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/exception/PluginException.java
  ai-orchestrator/src/main/resources/application.yml
  docs/PLUGIN_ARCHITECTURE.md
  docs/PLUGIN_QUICKSTART.md
  docs/PLUGIN_TEMPLATE.md
Due: build-backend, test-backend, deploy-backend

Add Prometheus metrics for agent execution latency, circuit breaker states, WebSocket health, JWT refresh, Vault rotation, and cost attribution with Grafana dashboards
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/MetricsController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/GraftExecutionService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/JwtService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/SecretRotationScheduler.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/WebSocketConnectionMonitor.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/observability/OrchestratorMetrics.java
  docs/PROMETHEUS_METRICS.md
  monitoring/IMPLEMENTATION_SUMMARY.md
  monitoring/METRICS_QUICK_REFERENCE.md
  monitoring/alerts.yml
  monitoring/grafana/dashboards/README.md
  monitoring/grafana/dashboards/agent-performance.json
  monitoring/grafana/dashboards/circuit-breakers.json
  monitoring/grafana/dashboards/cost-attribution.json
  monitoring/grafana/dashboards/metrics-overview.json
  monitoring/grafana/dashboards/security-metrics.json
  monitoring/grafana/dashboards/websocket-health.json
  monitoring/prometheus.yml
Due: build-backend, test-backend, deploy-backend

Create notification service with Slack/Discord integration, webhook configuration storage, template engine for workflow events, and admin UICo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  NOTIFICATION_INTEGRATION_IMPLEMENTATION.md
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/CreateNotificationConfigDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/NotificationConfigDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/UpdateNotificationConfigDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/NotificationController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/NotificationConfigEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/NotificationDeliveryLogEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/NotificationConfigRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/NotificationDeliveryLogRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/RunArtifactRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/NotificationService.java
  ai-orchestrator/src/main/resources/db/migration/V20__create_notification_configs.sql
  docs/NOTIFICATION_INTEGRATION.md
  frontend/src/app/components/settings-dashboard.component.ts
  frontend/src/app/services/notification.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Implement distributed collaboration with CRDT-based state synchronization replacing operational transformation
  AGENTS.md
  ai-orchestrator/src/main/java/com/atlasia/ai/config/CrdtMeshConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/WebSocketClientConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/CollaborationController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/CrdtSyncController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/CollaborationEventEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/CrdtDocumentState.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/CrdtSnapshotEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/CrdtSnapshotRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/CollaborationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/CrdtDocumentManager.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/CrdtSnapshotService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/CrdtSyncService.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/main/resources/db/migration/V21__add_crdt_support.sql
  ai-orchestrator/src/main/resources/db/migration/V22__create_crdt_snapshots.sql
  ai-orchestrator/src/test/java/com/atlasia/ai/service/CollaborationServiceTest.java
  docs/CRDT_COLLABORATION.md
  docs/MULTI_REGION_DEPLOYMENT.md
Due: build-backend, test-backend, deploy-backend

Implement multi-repository workflow orchestration with dependency-aware scheduling
  AGENTS.md
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/MultiRepoController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/RepositoryGraphEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/RepositoryGraphRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/GitHubApiClient.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/GraftExecutionService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/MonorepoWorkspaceDetector.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/MultiRepoOrchestrationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/MultiRepoScheduler.java
  ai-orchestrator/src/main/resources/db/migration/V23__create_repository_graph.sql
  docs/MULTI_REPO_ORCHESTRATION.md
Due: build-backend, test-backend, deploy-backend

feat: ajout de la configuration Docker Compose pour l'infrastructure
  infisical-docker-compose.yml
  infra/README.md
  infra/ci-cd/README.md
  infra/ci-cd/WINDOWS-DEV.md
  infra/ci-cd/gitlab-ci.yml
  infra/ci-cd/scripts/deploy-dev.bat
  infra/ci-cd/scripts/deploy-dev.ps1
  infra/ci-cd/scripts/deploy-dev.sh
  infra/ci-cd/scripts/deploy-prod.sh
  infra/ci-cd/scripts/logs-dev.bat
  infra/ci-cd/scripts/status-dev.bat
  infra/ci-cd/scripts/stop-dev.bat
  infra/deployments/dev/docker-compose.yml
  infra/deployments/prod/config/nginx-prod.conf
  infra/deployments/prod/docker-compose.yml
Due: none

fix: resolve 5 critical security and deployment issues
  .github/workflows/manual-deploy.yml
  CI_CD_DOCKER_DEPLOYMENT_REVIEW.md
  CRITICAL_FIXES_SUMMARY.md
  DEPLOYMENT_READY.md
  FIXES_OVERVIEW.md
  VERIFICATION_CHECKLIST.md
  ai-orchestrator/Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/Dockerfile.dev
  infra/deployments/dev/docker-compose.yml
  infra/deployments/prod/docker-compose.yml
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

docs: add final completion report
  COMPLETION_REPORT.md
Due: none

docs: add final summary - all work complete
  FINAL_SUMMARY.md
Due: none

docs: add complete documentation index and navigation guide
  INDEX.md
Due: none

feat: add final delivery report and git commit report
  FINAL_DELIVERY.md
  GIT_COMMIT_REPORT.md
  PROJECT_COMPLETE.md
  PUSHED_TO_GITHUB.md
Due: none

fix: correct hardcoded paths in CI/CD pipelines
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Create automated backup and rollback scripts for PostgreSQL with retention policy and blue-green deploymentCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  .gitignore
  infra/ci-cd/BACKUP_ROLLBACK_QUICKREF.md
  infra/ci-cd/IMPLEMENTATION_SUMMARY.md
  infra/ci-cd/README.md
  infra/ci-cd/scripts/.env.backup.example
  infra/ci-cd/scripts/BACKUP_ROLLBACK_README.md
  infra/ci-cd/scripts/backup.sh
  infra/ci-cd/scripts/deploy-prod.sh
  infra/ci-cd/scripts/rollback.sh
  infra/ci-cd/scripts/setup-permissions.sh
  infra/ci-cd/scripts/verify-backup-setup.sh
  infra/deployments/prod/backup-cron.sh
Due: none

Build production monitoring stack with Prometheus and Grafana including exporters, dashboards, and alerting rules
  infra/deployments/prod/IMPLEMENTATION-SUMMARY.md
  infra/deployments/prod/MONITORING-QUICKSTART.md
  infra/deployments/prod/README-MONITORING.md
  infra/deployments/prod/alertmanager-prod.yml
  infra/deployments/prod/alerts-prod.yml
  infra/deployments/prod/config/.gitkeep
  infra/deployments/prod/config/dashboard-database-pool.json
  infra/deployments/prod/config/dashboard-http-metrics.json
  infra/deployments/prod/config/dashboard-jvm-metrics.json
  infra/deployments/prod/config/dashboard-system-resources.json
  infra/deployments/prod/config/dashboards-provisioning.yml
  infra/deployments/prod/config/datasources-prometheus.yml
  infra/deployments/prod/docker-compose-monitoring.yml
  infra/deployments/prod/postgres-exporter-queries.yaml
  infra/deployments/prod/prometheus-prod.yml
  monitoring/alerts.yml
Due: none

Create comprehensive backend E2E tests with authentication flows, OAuth2 callbacks, password reset, WebSocket collaboration, and failure reporting
  ai-orchestrator/E2E_TEST_IMPLEMENTATION.md
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/E2ETestSuite.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/README.md
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/configuration/AbstractE2ETest.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/configuration/E2ETestReporter.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/configuration/E2ETestWatcher.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/scenarios/AuthenticationFlowE2ETest.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/scenarios/WebSocketCollaborationE2ETest.java
Due: build-backend, test-backend, deploy-backend

Implement production load testing with k6 including wrapper script, test scenarios, performance baselines, CI/CD integration, and documentation
  .gitignore
  .gitlab-ci.yml
  LOAD_TESTING_IMPLEMENTATION.md
  ai-orchestrator/src/test/load/EXAMPLES.md
  ai-orchestrator/src/test/load/README.md
  ai-orchestrator/src/test/load/a2a-load-test.js
  ai-orchestrator/src/test/load/api-load-test.js
  ai-orchestrator/src/test/load/k6-config.js
  ai-orchestrator/src/test/load/package.json
  ai-orchestrator/src/test/load/smoke-test.js
  ai-orchestrator/src/test/load/websocket-load-test.js
  docs/PERFORMANCE_BENCHMARKS.md
  frontend/package.json
  infra/ci-cd/README.md
  infra/ci-cd/scripts/LOAD_TESTING_QUICKREF.md
  infra/ci-cd/scripts/analyze-load-results.sh
  infra/ci-cd/scripts/load-test.sh
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Build disaster recovery plan and health checks
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/HealthController.java
  docs/DISASTER_RECOVERY.md
  docs/RUNBOOK.md
  infra/ci-cd/scripts/dr-restore.sh
Due: build-backend, test-backend, deploy-backend

Implement distributed tracing with OpenTelemetry
  ai-orchestrator/pom.xml
  ai-orchestrator/src/main/java/com/atlasia/ai/config/OpenTelemetryConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/CollaborationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/GitHubApiClient.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/WorkflowEngine.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/test/java/com/atlasia/ai/service/CollaborationServiceTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/service/WorkflowEngineTest.java
  docs/OBSERVABILITY.md
  infra/deployments/prod/docker-compose-monitoring.yml
Due: build-backend, test-backend, deploy-backend

Configure centralized logging with Promtail, Loki, and Grafana including structured JSON logging, MDC context propagation, retention policies, and alerting
  CENTRALIZED_LOGGING_IMPLEMENTATION.md
  ai-orchestrator/src/main/java/com/atlasia/ai/config/CorrelationIdFilter.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/observability/CorrelationIdHolder.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/main/resources/logback-spring.xml
  docs/OBSERVABILITY.md
  infra/deployments/prod/LOGGING_QUICKSTART.md
  infra/deployments/prod/README-MONITORING.md
  infra/deployments/prod/config/dashboard-logs-overview.json
  infra/deployments/prod/config/datasources-loki.yml
  infra/deployments/prod/config/loki-config.yml
  infra/deployments/prod/config/loki-rules.yml
  infra/deployments/prod/config/promtail-config.yml
  infra/deployments/prod/docker-compose-monitoring.yml
  monitoring/alerts.yml
Due: build-backend, test-backend, deploy-backend

Prepare Kubernetes migration with Helm charts
  .gitignore
  infra/k8s/DEPLOYMENT_CHECKLIST.md
  infra/k8s/IMPLEMENTATION_SUMMARY.md
  infra/k8s/INDEX.md
  infra/k8s/Makefile
  infra/k8s/QUICKSTART.md
  infra/k8s/README.md
  infra/k8s/environments/staging/values.yaml
  infra/k8s/examples/local-values.yaml
  infra/k8s/examples/secrets-template.yaml
  infra/k8s/helm/atlasia/.helmignore
  infra/k8s/helm/atlasia/Chart.yaml
  infra/k8s/helm/atlasia/templates/NOTES.txt
  infra/k8s/helm/atlasia/templates/_helpers.tpl
  infra/k8s/helm/atlasia/templates/configmap.yaml
  infra/k8s/helm/atlasia/templates/frontend-deployment.yaml
  infra/k8s/helm/atlasia/templates/frontend-pdb.yaml
  infra/k8s/helm/atlasia/templates/frontend-service.yaml
  infra/k8s/helm/atlasia/templates/ingress.yaml
  infra/k8s/helm/atlasia/templates/networkpolicy.yaml
  infra/k8s/helm/atlasia/templates/orchestrator-deployment.yaml
  infra/k8s/helm/atlasia/templates/orchestrator-hpa.yaml
  infra/k8s/helm/atlasia/templates/orchestrator-pdb.yaml
  infra/k8s/helm/atlasia/templates/orchestrator-service.yaml
  infra/k8s/helm/atlasia/templates/secret.yaml
  infra/k8s/helm/atlasia/templates/serviceaccount.yaml
  infra/k8s/helm/atlasia/templates/servicemonitor.yaml
  infra/k8s/helm/atlasia/values.schema.json
  infra/k8s/helm/atlasia/values.yaml
  infra/k8s/scripts/validate-kind.ps1
  infra/k8s/scripts/validate-kind.sh
  infra/k8s/scripts/validate-minikube.sh
Due: none

feat: ajout de fichiers CLAUDE.md et COMPLETE_PROJECT_REVIEW.md pour la documentation du projet
  CLAUDE.md
  COMPLETE_PROJECT_REVIEW.md
  ai-orchestrator/Dockerfile
  ai-orchestrator/src/main/java/com/atlasia/ai/config/Resilience4jConfig.java
  ai-orchestrator/src/main/resources/application-dev.yml
  ai-orchestrator/src/main/resources/bootstrap-dev.yml
  frontend/src/app/components/agent-marketplace.component.ts
  frontend/src/app/components/register.component.ts
  frontend/src/app/interceptors/auth.interceptor.ts
  infra/deployments/dev/docker-compose.yml
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

fix: resolve critical backend tests, optimize build, and fix frontend auth flow
  .github/workflows/ci.yml
  .gitlab-ci.yml
  GEMINI.md
  ai-orchestrator/pom.xml
  ai-orchestrator/src/main/java/com/atlasia/ai/config/OpenTelemetryConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/HealthController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/UserRepository.java
  ai-orchestrator/src/main/resources/application.properties
  ai-orchestrator/src/main/resources/db/migration/V19__add_audit_trail_and_compliance.sql
  ai-orchestrator/src/main/resources/db/migration/V21__add_crdt_support.sql
  ai-orchestrator/src/main/resources/db/migration/V23__create_repository_graph.sql
  ai-orchestrator/src/test/java/com/atlasia/ai/contract/A2AContractIntegrationTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/service/WorkflowEngineTest.java
  frontend/package-lock.json
  frontend/src/app/app.config.ts
  frontend/src/app/app.spec.ts
  frontend/src/app/app.ts
  frontend/src/app/components/onboarding-flow.component.ts
  frontend/src/app/components/register.component.ts
  frontend/src/app/services/auth.service.spec.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/escalation.service.ts
  frontend/src/app/services/oversight-inbox.service.ts
  frontend/src/test-setup.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

script: initialize JWT sign and encryption key
  .env.example
  .env.prod
  scripts/init-dev-env.ps1
Due: none

fix: sanitize navigation flow and harmonize dashboard redirections
  frontend/src/app/components/chat-dashboard.component.ts
  frontend/src/app/components/chat-interface.ts
  frontend/src/app/components/login.component.ts
  frontend/src/app/components/onboarding-flow.component.ts
  frontend/src/app/components/user-profile.component.ts
  frontend/src/app/guards/auth.guard.ts
  frontend/src/app/interceptors/auth.interceptor.ts
  frontend/src/app/services/auth.service.ts
Due: build-frontend, test-frontend, deploy-frontend

fix: restore functional onboarding and resolve auth access regressions
  .gitignore
  .vscode/settings.json
  DEV_SETUP.md
  ai-orchestrator/src/main/java/com/atlasia/ai/config/RateLimitingFilter.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/UserRegistrationService.java
  frontend/src/app/app.routes.ts
  frontend/src/app/components/onboarding-flow.component.ts
  frontend/src/app/guards/auth.guard.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

chore(java): upgrade to Java 21
  ai-orchestrator/pom.xml
Due: build-backend, test-backend, deploy-backend
