Repository lamallamadel/aiteam: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, test-backend, test-frontend

build-backend:
  stage: build
  image: maven:3.9-eclipse-temurin-17-alpine
  cache:
    key: maven-$CI_COMMIT_REF_SLUG
    paths:
    - .m2/repository/
    policy: pull-push
  script:
  - echo "üî® Building backend JAR..."
  - cd ai-orchestrator
  - mvn clean package -DskipTests -q
  - ls -lh target/*.jar
  ...

build-frontend:
  stage: build
  image: node:22-alpine
  cache:
    key: npm-$CI_COMMIT_REF_SLUG
    paths:
    - frontend/node_modules/
    policy: pull-push
  script:
  - echo "üî® Building frontend dist..."
  - cd frontend
  - npm ci --prefer-offline
  - npm run build -- --configuration production
  - ls -lh dist/dashboard/browser/
  ...

test-backend:
  stage: test
  image: maven:3.9-eclipse-temurin-17-alpine
  cache:
    key: maven-$CI_COMMIT_REF_SLUG
    paths:
    - .m2/repository/
    policy: pull
  services:
  - docker:24-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  script:
  - echo "üß™ Running backend tests (mvn verify)..."
  ...

test-frontend:
  stage: test
  image: mcr.microsoft.com/playwright:v1.40.0-focal
  cache:
    key: npm-$CI_COMMIT_REF_SLUG
    paths:
    - frontend/node_modules/
    policy: pull
  script:
  - echo "üß™ Running frontend E2E tests (npm run e2e)..."
  - cd frontend
  - npm ci --prefer-offline
  - npx playwright install --with-deps
  ...

Checkpoint from VS Code for cloud agent session
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .gitlab-ci.yml
  ai-orchestrator/Dockerfile
  frontend/.pw-tmp-results/.last-run.json
  frontend/collab-results.json
  frontend/e2e/app.spec.ts
  frontend/e2e/collaboration-helpers.ts
  frontend/e2e/collaboration.spec.ts
  frontend/playwright.fast.config.ts
  frontend/proxy.e2e.conf.json
  frontend/src/app/components/run-detail.component.ts
  frontend/src/app/guards/auth.guard.ts
  frontend/src/app/services/collaboration-websocket.service.ts
  infra/ci-cd/gitlab-ci.yml
  scripts/use-temurin-21.ps1
  scripts/use-temurin-21.sh
Due: build-backend, build-frontend, test-backend, test-frontend

fix: restore Testcontainers Cloud configuration files
  .testcontainersrc
  ai-orchestrator/src/test/resources/testcontainers.properties
Due: build-backend, test-backend

feat: auth email login, WebSocket hardening, OTel test infra, Java 21
  CLAUDE.md
  ai-orchestrator/pom.xml
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/configuration/AbstractE2ETest.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/scenarios/EnhancedCodeGenerationE2ETest.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/scenarios/HappyPathCodeGenerationE2ETest.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/scenarios/WebSocketCollaborationE2ETest.java
  ai-orchestrator/src/e2e/resources/application-e2e.properties
  ai-orchestrator/src/main/java/com/atlasia/ai/config/OpenTelemetryConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/WebSocketAuthInterceptor.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/WebSocketConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AuthController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/UserRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AuthenticationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/UserDetailsServiceImpl.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/test/java/com/atlasia/ai/config/OpenTelemetryTestConfig.java
  ai-orchestrator/src/test/java/com/atlasia/ai/service/DeveloperStepIntegrationTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/service/WorkflowEngineIntegrationTest.java
  ai-orchestrator/src/test/resources/application.properties
  frontend/src/app/components/chat-interface.ts
  frontend/src/app/components/conversation-list.component.ts
  frontend/src/app/components/shared/toast-container.component.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/orchestrator.service.ts
  infra/deployments/dev/docker-compose.yml
Due: build-backend, build-frontend, test-backend, test-frontend

feat: add conversation memory to Chat Mode
  ai-orchestrator/src/main/java/com/atlasia/ai/config/OrchestratorProperties.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/ChatController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/ConversationSessionEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/ConversationTurnEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/ConversationSessionRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/ConversationTurnRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ChatService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ConversationMemoryService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ConversationMemoryServiceImpl.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/main/resources/db/migration/V24__create_conversation_memory.sql
  ai-orchestrator/src/test/java/com/atlasia/ai/service/ChatServiceTest.java
Due: build-backend, test-backend

feat: add rich Chat Mode personas with structured YAML schema
  ai-orchestrator/src/main/java/com/atlasia/ai/config/ChatPersonaLoader.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ChatService.java
  ai-orchestrator/src/main/resources/ai/agents/chat-personas/architect.yaml
  ai-orchestrator/src/main/resources/ai/agents/chat-personas/backend-developer.yaml
  ai-orchestrator/src/main/resources/ai/agents/chat-personas/frontend-designer.yaml
  ai-orchestrator/src/main/resources/ai/agents/chat-personas/qa-engineer.yaml
  ai-orchestrator/src/test/java/com/atlasia/ai/service/ChatServiceTest.java
Due: build-backend, test-backend

refactor: consolidate personas to single source of truth at ai/agents/personas/
  CLAUDE.md
  ai-orchestrator/pom.xml
  ai-orchestrator/src/main/java/com/atlasia/ai/config/ChatPersonaLoader.java
  ai-orchestrator/src/main/resources/ai/agents/personas/code-quality-engineer.yaml
  ai-orchestrator/src/main/resources/ai/agents/personas/frontend-ux-engineer.yaml
  ai-orchestrator/src/main/resources/ai/agents/personas/security-engineer.yaml
  ai-orchestrator/src/main/resources/ai/agents/personas/sre-engineer.yaml
  ai/agents/personas/architect.yaml
  ai/agents/personas/backend-developer.yaml
  ai/agents/personas/code-quality-engineer.yaml
  ai/agents/personas/frontend-designer.yaml
  ai/agents/personas/frontend-ux-engineer.yaml
  ai/agents/personas/qa-engineer.yaml
  ai/agents/personas/security-engineer.yaml
  ai/agents/personas/sre-engineer.yaml
Due: build-backend, test-backend

feat: add virtual threads + parallel persona orchestration
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/ParallelPersonaResult.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/VirtualThreadConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/VirtualThreadHealthIndicator.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/VirtualThreadPinningDetector.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AsyncPersonaService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AsyncPersonaServiceImpl.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ParallelPersonaOrchestrator.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ParallelPersonaOrchestratorImpl.java
  ai-orchestrator/src/main/resources/application.yml
Due: build-backend, test-backend

feat: add persona handoff system for Chat Mode
  ai-orchestrator/src/main/java/com/atlasia/ai/config/ChatPersonaLoader.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/ChatController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/PersonaHandoffEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/PersonaHandoffRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ChatService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/HandoffRouter.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/HandoffRouterImpl.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/HandoffService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/HandoffServiceImpl.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/HandoffSignal.java
  ai-orchestrator/src/main/resources/db/migration/V25__create_persona_handoff.sql
Due: build-backend, test-backend

feat: add Chat Mode code generation and parallel collaboration endpoints
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/CodegenRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/CodegenResponse.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/ParallelCollaborationRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/CodegenController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/PersonaCollaborationController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/ChatArtifactEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/ChatGenerationRunEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/ChatArtifactRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/ChatGenerationRunRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ChatCodegenService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ChatCodegenServiceImpl.java
  ai-orchestrator/src/main/resources/db/migration/V26__create_chat_artifact_tables.sql
Due: build-backend, test-backend

fix: correct SimpleAsyncTaskExecutor import and Hibernate 6 connection handling mode
  ai-orchestrator/src/main/java/com/atlasia/ai/config/VirtualThreadConfig.java
  ai-orchestrator/src/main/resources/application.yml
Due: build-backend, test-backend

fix: make all 317 E2E and unit tests green
  ai-orchestrator/pom.xml
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/configuration/AbstractE2ETest.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/scenarios/EnhancedCodeGenerationE2ETest.java
  ai-orchestrator/src/e2e/java/com/atlasia/ai/e2e/scenarios/WebSocketCollaborationE2ETest.java
  ai-orchestrator/src/e2e/resources/application-e2e.properties
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/RunRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/CollaborationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/CrdtDocumentManager.java
  ai-orchestrator/src/test/java/com/atlasia/ai/service/CollaborationServiceTest.java
  scripts/use-temurin-21.ps1
Due: build-backend, test-backend

fix(frontend): realign Angular 21.2.x deps and resolve audit findings
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend

fix(otel): default OTLP endpoint to http://localhost:4317 to avoid BeanInstantiationException
  ai-orchestrator/src/main/resources/application.yml
Due: build-backend, test-backend

test(e2e): fix collaboration E2E tests across chromium, firefox, webkit
  frontend/e2e/collaboration-helpers.ts
  frontend/e2e/collaboration-patterns.spec.ts
  frontend/e2e/collaboration.spec.ts
  frontend/src/app/components/collaboration-notifications.component.ts
  frontend/src/app/services/collaboration-websocket.service.ts
Due: build-frontend, test-frontend

fix(config): convert application.properties to YAML across all Spring Boot configs
  ai-orchestrator/.env.oauth2.example
  ai-orchestrator/src/e2e/resources/application-e2e.properties
  ai-orchestrator/src/e2e/resources/application-e2e.yml
  ai-orchestrator/src/main/resources/application.properties
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/test/resources/application.yml
  frontend/src/app/components/neural-trace.component.ts
Due: build-backend, build-frontend, test-backend, test-frontend

feat(chat): persona discovery — RestClient multi-provider, sealed types, pattern matching
  ai-orchestrator/src/main/java/com/atlasia/ai/api/AiProviderRouter.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/adapter/ProviderAdapter.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/AiWireTypes.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/AiProviderProperties.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/MultiProviderRestClientConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/CodegenController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/domain/CodeGenerationResult.java
  ai-orchestrator/src/main/java/com/atlasia/ai/domain/PersonaRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ChatCodegenService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ChatCodegenServiceImpl.java
  ai-orchestrator/src/main/resources/application.yml
Due: build-backend, test-backend

fix(test): resolve ApplicationContext failures in WorkflowEngineIntegrationTest
  ai-orchestrator/src/main/java/com/atlasia/ai/service/GitHubAppService.java
  ai-orchestrator/src/test/resources/application.yml
Due: build-backend, test-backend

build(maven): pin compiler, surefire and failsafe plugin versions for Java 21
  ai-orchestrator/pom.xml
Due: build-backend, test-backend

chore: add .gitattribute for line ending normalization
  .gitattribute
Due: none

feat(security): expose /.well-known/** and proxy routes to backend
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  frontend/proxy.conf.e2e.json
  frontend/proxy.conf.json
Due: build-backend, build-frontend, test-backend, test-frontend

chore(dev): increase frontend memory limits and enable watchpack polling
  infra/deployments/dev/docker-compose.yml
Due: none

docs: document aipersona-* demo projects and correct backend package structure
  CLAUDE.md
Due: none

fix(auth): cookie XSRF-TOKEN sur requêtes mutantes + CSRF API
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AuthController.java
  frontend/src/app/interceptors/auth.interceptor.ts
  frontend/src/app/services/auth.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend

feat: collaboration CRDT, DTOs API et config dev
  ai-orchestrator/src/main/java/com/atlasia/ai/api/RunResponse.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/CircuitBreakerStatusDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/CollaborationEventDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/CurrentUserDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/GraftExecutionDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/GraftController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/RunController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/CircuitBreakerState.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/CollaborationEventType.java
  ai-orchestrator/src/main/resources/application-dev.yml
  aiteam-postman-collection.json
  frontend/.dockerignore
  frontend/angular.json
  frontend/e2e/collaboration-helpers.ts
  frontend/e2e/collaboration.spec.ts
  frontend/proxy.conf.js
  frontend/src/app/components/run-detail.component.ts
  frontend/src/app/models/collaboration.model.ts
  frontend/src/app/models/orchestrator.model.ts
  frontend/src/app/services/collaboration-websocket.service.ts
  frontend/src/app/services/crdt-sync.service.spec.ts
  frontend/src/app/services/crdt-sync.service.ts
  frontend/src/app/services/workflow-stream.store.ts
  frontend/src/test-setup.ts
  infra/deployments/dev/docker-compose.yml
Due: build-backend, build-frontend, test-backend, test-frontend

Path conditions:
  build-backend: any of: ai-orchestrator/**/*, .gitlab-ci.yml
  build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  test-backend: any of: ai-orchestrator/**/*, .gitlab-ci.yml
  test-frontend: any of: frontend/**/*, .gitlab-ci.yml
