Repository lamallamadel/aiteam: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Path conditions:
  build-backend: any of: ai-orchestrator/**/*, .gitlab-ci.yml
  build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  test-backend: any of: ai-orchestrator/**/*, .gitlab-ci.yml
  test-frontend: any of: frontend/**/*, .gitlab-ci.yml
  deploy-backend: any of: ai-orchestrator/**/*, docker-compose.prod.yml, .gitlab-ci.yml
  deploy-frontend: any of: frontend/**/*, nginx-prod.conf, .gitlab-ci.yml

Implement complete GitLab CI/CD pipeline (PRIMARY)
  .gitlab-ci.yml
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Update GitHub Actions to manual-deploy only (GitLab is primary)
  .github/workflows/manual-deploy.yml
Due: none

Add DynamicInterruptService, JudgeService majority voting, and oversight REST API
  .github/workflows/build-and-push.yml
  ai-orchestrator/pom.xml
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/EvalController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/OversightController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/A2ADiscoveryService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/BlackboardService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/DynamicInterruptService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/EvalSuiteService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/GitHubApiClient.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/LlmService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/PersonaReviewService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/WorkflowEngine.java
  ai-orchestrator/src/main/resources/logback-spring.xml
  ai-orchestrator/src/test/java/com/atlasia/ai/service/PersonaReviewServiceTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/service/WorkflowEngineIntegrationTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/service/WorkflowEngineTest.java
Due: build-backend, test-backend, deploy-backend

Add CI/CD verification report - FINAL VERIFICATION COMPLETE
  CI_CD_VERIFICATION_REPORT.md
Due: none

Add monitoring configuration (Prometheus + Grafana)
  docker-compose.monitoring.yml
  monitoring/grafana/dashboards/orchestrator.json
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus.yml
Due: none

Fix nginx permissions and dev/prod compatibility
  frontend/Dockerfile
  nginx.conf
Due: build-frontend, test-frontend, deploy-frontend

Implement Sangraal Blueprint: A2A + TEA + ACNBP protocol stack
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/A2AController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/RunController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/EnvironmentLifecycle.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/EnvironmentSnapshot.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/RunEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/A2ADiscoveryService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AgentBindingService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AgentStepFactory.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/WorkflowEngine.java
  ai-orchestrator/src/main/resources/db/migration/V6__add_environment_checkpoint.sql
  ai-orchestrator/src/test/java/com/atlasia/ai/controller/A2AControllerTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/service/AgentBindingServiceTest.java
  ai-orchestrator/src/test/java/com/atlasia/ai/service/WorkflowEngineTest.java
Due: build-backend, test-backend, deploy-backend

Implement Agentic UX layer: A2A Registry UI + live run observability
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/components/a2a-registry.component.ts
  frontend/src/app/components/run-detail.component.ts
  frontend/src/app/models/orchestrator.model.ts
  frontend/src/app/services/orchestrator.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Fix backend logging - create logs directory in container
  ai-orchestrator/Dockerfile
Due: build-backend, test-backend, deploy-backend

Remove deprecated --disable-host-check flag from ng serve
  frontend/Dockerfile.dev
Due: build-frontend, test-frontend, deploy-frontend

Add Declarative GenUI layer: ArtifactRenderer, ConfidenceSignal, IntentPreviewModal
  frontend/src/app/components/artifact-renderer.component.ts
  frontend/src/app/components/chat-interface.ts
  frontend/src/app/components/confidence-signal.component.ts
  frontend/src/app/components/index.ts
  frontend/src/app/components/intent-preview-modal.component.ts
  frontend/src/app/components/run-detail.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Implement Vis-CoT pipeline, oversight enrichment, and autonomy dial
  ai-orchestrator/src/main/java/com/atlasia/ai/api/RunRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/RunController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/RunEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/WorkflowEngine.java
  ai-orchestrator/src/main/resources/db/migration/V7__add_autonomy.sql
  ai-orchestrator/src/test/java/com/atlasia/ai/controller/A2AControllerTest.java
  frontend/src/app/app.css
  frontend/src/app/app.html
  frontend/src/app/app.ts
  frontend/src/app/components/chat-interface.ts
  frontend/src/app/components/neural-trace.component.ts
  frontend/src/app/components/oversight/escalation-panel.component.ts
  frontend/src/app/models/orchestrator.model.ts
  frontend/src/app/services/escalation.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Close Vis-CoT loop, upgrade ArtifactRenderer, add open-ended GenUI
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/RunController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/RunEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/WorkflowEngine.java
  ai-orchestrator/src/main/resources/db/migration/V8__add_pipeline_mutations.sql
  frontend/src/app/components/artifact-renderer.component.ts
  frontend/src/app/components/run-detail.component.ts
  frontend/src/app/components/work-report.component.ts
  frontend/src/app/services/orchestrator.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Kill mock data, fix analytics, execute grafts
  ai-orchestrator/src/main/java/com/atlasia/ai/service/WorkflowEngine.java
  frontend/src/app/components/analytics-dashboard.component.ts
  frontend/src/app/components/run-list.component.ts
  frontend/src/app/services/analytics.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Wire escalation env snapshot, SSE reconnect backoff, New Bolt modal
  frontend/src/app/components/oversight/escalation-panel.component.ts
  frontend/src/app/components/run-list.component.ts
  frontend/src/app/services/workflow-stream.store.ts
Due: build-frontend, test-frontend, deploy-frontend

Oversight config persistence, interrupt callback loop, binding TTL eviction
  ai-orchestrator/src/main/java/com/atlasia/ai/AtlasiaAiOrchestratorApplication.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/OversightController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/GlobalSettingsEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/GlobalSettingsRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AgentBindingService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/InterruptDecisionStore.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/WorkflowEngine.java
  ai-orchestrator/src/main/resources/db/migration/V9__add_global_settings.sql
  ai-orchestrator/src/test/java/com/atlasia/ai/service/WorkflowEngineTest.java
  frontend/src/app/components/config/oversight-config.component.ts
  frontend/src/app/services/orchestrator.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Fix persona deserialization crash on unknown YAML fields
  ai-orchestrator/src/main/java/com/atlasia/ai/config/PersonaConfig.java
Due: build-backend, test-backend, deploy-backend

Fix dev proxy to route through Docker DNS instead of loopback
  docker-compose.dev.yml
  frontend/proxy.conf.json
Due: build-frontend, test-frontend, deploy-frontend

Implement WebSocket-based multi-user collaboration for workflow runs with presence indicators and operational transformation
  AGENTS.md
  ai-orchestrator/pom.xml
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/CollaborationEventDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/WebSocketAuthInterceptor.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/WebSocketConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/CollaborationController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/RunController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/CollaborationEventEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/CollaborationEventRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/CollaborationService.java
  ai-orchestrator/src/main/resources/db/migration/V10__create_collaboration_events.sql
  ai-orchestrator/src/test/java/com/atlasia/ai/service/CollaborationServiceTest.java
  docs/COLLABORATION.md
  docs/COLLABORATION_EXAMPLES.md
  docs/COLLABORATION_IMPLEMENTATION.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/collaboration-notifications.component.ts
  frontend/src/app/components/neural-trace.component.ts
  frontend/src/app/components/run-detail.component.ts
  frontend/src/app/models/collaboration.model.ts
  frontend/src/app/services/collaboration-websocket.service.ts
  frontend/src/app/services/orchestrator.service.ts
  frontend/src/app/services/workflow-stream.store.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Implement runtime graft injection in workflow engine with discovery, execution tracking, and real-time progress events
  ai-orchestrator/src/main/java/com/atlasia/ai/model/GraftExecutionEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/RunEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/GraftExecutionRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/GraftExecutionService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/WorkflowEngine.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/event/WorkflowEvent.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/observability/OrchestratorMetrics.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/trace/TraceEventService.java
  ai-orchestrator/src/main/resources/db/migration/V11__graft_execution_log.sql
  ai-orchestrator/src/test/java/com/atlasia/ai/service/WorkflowEngineTest.java
  docs/A2A_GRAFT_EXECUTION.md
Due: build-backend, test-backend, deploy-backend

Frontend enhancements: artifact auto-reload and dev proxy configuration
  frontend/angular.json
  frontend/package-lock.json
  frontend/src/app/components/config/oversight-config.component.ts
  frontend/src/app/components/oversight/escalation-panel.component.ts
  frontend/src/app/components/run-detail.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Rewrite styles.css and app.css to implement new design token system and edge-to-edge layout
  frontend/src/app/app.css
  frontend/src/app/app.html
  frontend/src/styles.css
Due: build-frontend, test-frontend, deploy-frontend

Modernize neural trace pipeline and analytics dashboard styles with flat design pattern
  frontend/src/app/components/analytics-dashboard.component.ts
  frontend/src/app/components/neural-trace.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Refactor chat interface and sandbox component to use document-centric layout with opaque surfaces and fixed margins
  frontend/src/app/components/chat-interface.ts
  frontend/src/app/components/sandbox.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Configure Vitest and Playwright for frontend testing
  frontend/angular.json
  frontend/e2e/app.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.spec.ts
  frontend/src/test-setup.ts
  frontend/vitest.config.ts
Due: build-frontend, test-frontend, deploy-frontend

Apply modernized design tokens and edge-to-edge patterns to dashboard, run list, run detail, and intent preview modal components
  frontend/src/app/components/dashboard-home.component.ts
  frontend/src/app/components/intent-preview-modal.component.ts
  frontend/src/app/components/run-detail.component.ts
  frontend/src/app/components/run-list.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Refactor multiple components to dark IDE aesthetic with flat surfaces, borders, and monospace styling while preserving Angular logic
  frontend/src/app/components/chat-interface.ts
  frontend/src/app/components/dashboard-home.component.ts
  frontend/src/app/components/intent-preview-modal.component.ts
  frontend/src/app/components/run-detail.component.ts
  frontend/src/app/components/run-list.component.ts
  frontend/src/app/components/sandbox.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Implement comprehensive Playwright E2E test suite for multi-user collaboration features
  frontend/.gitignore
  frontend/e2e/README.md
  frontend/e2e/collaboration-advanced.spec.ts
  frontend/e2e/collaboration-helpers.ts
  frontend/e2e/collaboration-patterns.spec.ts
  frontend/e2e/collaboration.spec.ts
  frontend/e2e/tsconfig.json
Due: build-frontend, test-frontend, deploy-frontend

Build graft management UI with history viewer, scheduler, circuit breaker dashboard, and real-time progress integrationCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  GRAFT_MANAGEMENT_IMPLEMENTATION.md
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/CircuitBreakerStatusDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/GraftExecutionDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/GraftController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/A2ADiscoveryService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/GraftExecutionService.java
  docs/GRAFT_MANAGEMENT_GUIDE.md
  frontend/src/app/app.routes.ts
  frontend/src/app/components/graft-management.component.ts
  frontend/src/app/components/index.ts
  frontend/src/app/components/neural-trace.component.ts
  frontend/src/app/models/orchestrator.model.ts
  frontend/src/app/services/orchestrator.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Create settings service with signals-based state management and add related interfaces to orchestrator model
  frontend/src/app/models/orchestrator.model.ts
  frontend/src/app/services/settings.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Create onboarding flow component with three-step chat-driven interface for Git provider connection and agent role selectionCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  frontend/src/app/components/onboarding-flow.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Create a standalone settings dashboard component with three tabs for integrations, usage metrics, and AI customization
  frontend/src/app/components/settings-dashboard.component.ts
  frontend/src/app/services/settings.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Replace auth modal with routing-based settings and onboarding flows
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/components/chat-dashboard.component.ts
  frontend/src/app/components/index.ts
Due: build-frontend, test-frontend, deploy-frontend

Add agent picker popover with role selection to chat interfaceCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  frontend/src/app/components/chat-interface.ts
Due: build-frontend, test-frontend, deploy-frontend

Create oversight inbox service with polling for pending approvals and interrupt resolutionCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  frontend/src/app/models/orchestrator.model.ts
  frontend/src/app/services/orchestrator.service.ts
  frontend/src/app/services/oversight-inbox.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Create oversight inbox component with pending interrupts queue, filtering, and approval actions
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/components/index.ts
  frontend/src/app/components/oversight/oversight-inbox.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Add deep trace explorer with span detail drawer, token summary analytics, and event-type filters to waterfall trace component
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/TokenSummaryDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AnalyticsController.java
  frontend/src/app/components/trace/waterfall-trace.component.ts
  frontend/src/app/services/analytics.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Create failure analytics component with escalation insights visualization and navigation integration
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/components/failure-analytics.component.ts
  frontend/src/app/components/index.ts
  frontend/src/app/services/analytics.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Fix frontend build errors by resolving TypeScript type mismatches, adding missing type definitions, and adjusting CSS budgets
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/collaboration-analytics-dashboard.component.ts
  frontend/src/app/components/connection-health.component.ts
  frontend/src/app/components/event-sourcing-viz.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Resolve Flyway migration version conflict by renaming V7__add_collaboration_state_tracking.sql to V13
  ai-orchestrator/src/main/resources/db/migration/V13__add_collaboration_state_tracking.sql
Due: build-backend, test-backend, deploy-backend
