Repository lamallamadel/aiteam: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Path conditions:
  build-backend: any of: ai-orchestrator/**/*, .gitlab-ci.yml
  build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  test-backend: any of: ai-orchestrator/**/*, .gitlab-ci.yml
  test-frontend: any of: frontend/**/*, .gitlab-ci.yml
  deploy-backend: any of: ai-orchestrator/**/*, docker-compose.prod.yml, .gitlab-ci.yml
  deploy-frontend: any of: frontend/**/*, nginx-prod.conf, .gitlab-ci.yml

Fix implicit any and add types to collaboration websocket service
  frontend/src/app/services/collaboration-websocket.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Ensure @angular/platform-browser-dynamic is in dependencies and update lockfile
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend, deploy-frontend

Improve module resolution and remove problematic test-setup.ts
  frontend/src/test-setup.ts
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
Due: build-frontend, test-frontend, deploy-frontend

Add diagnostic check to Dockerfile.dev to verify package installation
  frontend/Dockerfile.dev
Due: build-frontend, test-frontend, deploy-frontend

Add sync check and improve compiler options
  frontend/src/main.ts
  frontend/tsconfig.json
Due: build-frontend, test-frontend, deploy-frontend

Remove frontend_node_modules volume to fix module resolution in Docker
  docker-compose.dev.yml
Due: none

Cleanup Dockerfile.dev after successful build
  frontend/Dockerfile.dev
Due: build-frontend, test-frontend, deploy-frontend

Fix frontend connection reset in Docker by adding --disable-host-check
  frontend/Dockerfile.dev
Due: build-frontend, test-frontend, deploy-frontend

Add global polyfill for sockjs-client compatibility in Vite
  frontend/src/index.html
  frontend/src/main.ts
Due: build-frontend, test-frontend, deploy-frontend

Fix 401 Unauthorized in RunController and resolve ExpressionChangedAfterItHasBeenCheckedError in frontend services
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/RunController.java
  frontend/src/app/services/escalation.service.ts
  frontend/src/app/services/oversight-inbox.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Fix ENOMEM error in frontend by increasing Node.js max-old-space-size to 4GB
  docker-compose.dev.yml
Due: none

Cleanup frontend serving configuration and simplify Docker CMD
  frontend/Dockerfile.dev
Due: build-frontend, test-frontend, deploy-frontend

Add explicit 4GB memory limit to frontend container
  docker-compose.dev.yml
Due: none

Further increase frontend container memory limit to 8G
  docker-compose.dev.yml
Due: none

Resolve ExpressionChangedAfterItHasBeenCheckedError and provide default dev token in frontend
  frontend/src/app/app.ts
  frontend/src/app/components/onboarding-flow.component.ts
  frontend/src/app/services/auth.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Convert typedText to Signal in OnboardingFlowComponent to fix ExpressionChangedAfterItHasBeenCheckedError
  frontend/src/app/components/onboarding-flow.component.ts
Due: build-frontend, test-frontend, deploy-frontend

feat: mise à jour de la configuration de Docker et de l'authentification pour l'onboarding
  frontend/Dockerfile.dev
  frontend/src/app/components/onboarding-flow.component.ts
  frontend/src/app/interceptors/auth.interceptor.ts
  frontend/src/app/services/auth.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Create database schema for user authentication and authorization with Flyway migration
  ai-orchestrator/src/main/resources/db/migration/V14__create_auth_tables.sql
Due: build-backend, test-backend, deploy-backend

Implement JWT authentication service with token management, user entities, and Spring Security integrationCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  .env.example
  ai-orchestrator/JWT_AUTH_IMPLEMENTATION.md
  ai-orchestrator/pom.xml
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/AuthTokenResponse.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/LoginRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/RefreshTokenRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/Config.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/JwtProperties.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/PermissionEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/RefreshTokenEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/RoleEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/UserEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/PermissionRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/RefreshTokenRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/RoleRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/UserRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AuthenticationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/JwtService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/RefreshTokenService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/UserDetailsServiceImpl.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/main/resources/db/migration/V14__create_auth_tables.sql
  docs/JWT_AUTHENTICATION.md
Due: build-backend, test-backend, deploy-backend

Build user registration and password management with authentication endpoints
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/PasswordResetCompleteRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/PasswordResetInitiateRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/UserRegistrationRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/UserRegistrationResponse.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AuthController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/PasswordHistoryEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/PasswordResetTokenEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/PasswordHistoryRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/PasswordResetTokenRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/PasswordResetService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/PasswordService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/UserRegistrationService.java
  ai-orchestrator/src/main/resources/db/migration/V15__create_password_history_table.sql
Due: build-backend, test-backend, deploy-backend

Implement Spring Security configuration with JWT filter chain
  ai-orchestrator/src/main/java/com/atlasia/ai/config/CorsProperties.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/JwtAuthenticationFilter.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/test/resources/application.properties
Due: build-backend, test-backend, deploy-backend

Implement OAuth2 integration for GitHub, Google, and GitLab with Vault-based configuration, custom success handler, JWT token generation, account linking endpoint, and encrypted token storage
  ai-orchestrator/.env.oauth2.example
  ai-orchestrator/OAUTH2_IMPLEMENTATION_SUMMARY.md
  ai-orchestrator/OAUTH2_QUICK_START.md
  ai-orchestrator/OAUTH2_SETUP.md
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/OAuth2LinkRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/OAuth2LinkResponse.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/EncryptedStringConverter.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/OAuth2LoginSuccessHandler.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/OAuth2Properties.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/VaultConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AuthController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/OAuth2AccountEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/persistence/OAuth2AccountRepository.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AuthenticationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/OAuth2Service.java
  ai-orchestrator/src/main/resources/application-vault.yml
  ai-orchestrator/src/main/resources/application.yml
Due: build-backend, test-backend, deploy-backend

Implement RBAC and ABAC authorization system with role service, authorization service, custom annotations, and permission-protected endpoints
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/CurrentUserDto.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/PermissionEvaluatorAspect.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/RequiresPermission.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AnalyticsController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AuthController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/GraftController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/OversightController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/RunController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AuthorizationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/JwtAuthenticationFilter.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/RoleService.java
Due: build-backend, test-backend, deploy-backend

Implement input validation and XSS/SQL injection prevention with sanitization service, custom validators, and exception handlingCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  ai-orchestrator/SECURITY_VALIDATION.md
  ai-orchestrator/src/main/java/com/atlasia/ai/api/EscalationDecisionRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/RunRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/LoginRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/OAuth2LinkRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/PasswordResetCompleteRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/PasswordResetInitiateRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/RefreshTokenRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/api/dto/UserRegistrationRequest.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/A2AController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AnalyticsController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AuthController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/ChatController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/CollaborationController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/EvalController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/GraftController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/OversightController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/PersonaController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/RunController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/TraceController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/WebSocketAdminController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/InputSanitizationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/exception/ValidationExceptionHandler.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/exception/validation/RepositoryPath.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/exception/validation/RepositoryPathValidator.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/exception/validation/SafeFileName.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/exception/validation/SafeFileNameValidator.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/exception/validation/SafeHtml.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/exception/validation/SafeHtmlValidator.java
Due: build-backend, test-backend, deploy-backend

Integrate HashiCorp Vault for secrets management with configuration, migration, rotation scheduling, and documentation
  .env.example
  .gitignore
  AGENTS.md
  ai-orchestrator/src/main/java/com/atlasia/ai/config/VaultConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/VaultHealthIndicator.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/SecretRotationScheduler.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/VaultSecretsService.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/main/resources/bootstrap.yml
  docs/VAULT_IMPLEMENTATION_SUMMARY.md
  docs/VAULT_QUICKSTART.md
  docs/VAULT_SETUP.md
  infra/README.md
  infra/docker-compose.ai.yml
  infra/vault-init.sh
Due: build-backend, test-backend, deploy-backend

Implement security headers and CSRF protection with filter, endpoints, and frontend integration
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityHeadersFilter.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AuthController.java
  frontend/src/app/interceptors/auth.interceptor.ts
  frontend/src/app/services/auth.service.ts
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Implement secure file upload handling for run artifacts with validation, storage, and downloadCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  .gitignore
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/FileUploadController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/RunArtifactEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ArtifactStorageService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/CurrentUserService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/FileUploadSecurityService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/RateLimitService.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/main/resources/db/migration/V16__add_file_upload_artifacts.sql
  docs/FILE_UPLOAD_SECURITY.md
Due: build-backend, test-backend, deploy-backend

Add dependency vulnerability scanning and SBOM generation with Snyk/OWASP integration
  .github/workflows/npm-audit.yml
  .github/workflows/security-scan.yml
  SECURITY_SCANNING_IMPLEMENTATION.md
  ai-orchestrator/.gitignore
  ai-orchestrator/dependency-check-suppressions.xml
  ai-orchestrator/pom.xml
  docs/SECURITY.md
  frontend/.gitignore
  frontend/package.json
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Implement container security scanning with Trivy including workflow automation, configuration, and runtime hardening
  .github/workflows/ci.yml
  .github/workflows/container-scan.yml
  .gitignore
  AGENTS.md
  CONTAINER_SECURITY_QUICKSTART.md
  DEPLOYMENT.md
  ai-orchestrator/Dockerfile
  docs/CONTAINER_SECURITY.md
  docs/CONTAINER_SECURITY_IMPLEMENTATION.md
  frontend/Dockerfile
  frontend/nginx.conf
  infra/README.md
  infra/docker-compose.ai.yml
  infra/trivy-config.yaml
  scripts/README.md
  scripts/security-check.sh
  scripts/security-scan.sh
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Configure TLS 1.3, database encryption, and column-level encryption for sensitive fields
  .gitignore
  TLS_ENCRYPTION_IMPLEMENTATION.md
  ai-orchestrator/src/main/java/com/atlasia/ai/config/Encrypted.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/OAuth2AccountEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/model/UserEntity.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/ColumnEncryptionService.java
  ai-orchestrator/src/main/resources/application.yml
  ai-orchestrator/src/main/resources/db/migration/V17__add_column_encryption.sql
  docs/SECURITY.md
  infra/ENCRYPTION_QUICKSTART.md
  infra/README-SSL.md
  infra/docker-compose.ai.yml
  infra/gen-ssl-cert.sh
  infra/postgres-ssl-init.sh
  infra/vault-init.sh
Due: build-backend, test-backend, deploy-backend

Implement rate limiting and brute-force protection with resilience4jCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  ai-orchestrator/RATE_LIMITING_BRUTE_FORCE.md
  ai-orchestrator/pom.xml
  ai-orchestrator/src/main/java/com/atlasia/ai/config/MailConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/RateLimitHealthIndicator.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/RateLimitMetricsExporter.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/RateLimitingFilter.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/Resilience4jConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/config/SecurityConfig.java
  ai-orchestrator/src/main/java/com/atlasia/ai/controller/AdminController.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/AuthenticationService.java
  ai-orchestrator/src/main/java/com/atlasia/ai/service/BruteForceProtectionService.java
  ai-orchestrator/src/main/resources/application.yml
Due: build-backend, test-backend, deploy-backend

Create STRIDE threat model and security documentation
  DEPLOYMENT.md
  SECURITY.md
  docs/SECURITY_CHECKLIST.md
  docs/THREAT_MODEL.md
Due: none

Update frontend authentication flow for JWT and OAuth2
  frontend/README.md
  frontend/src/app/app.routes.ts
  frontend/src/app/components/login.component.ts
  frontend/src/app/components/oauth2-callback.component.ts
  frontend/src/app/components/onboarding-flow.component.ts
  frontend/src/app/components/register.component.ts
  frontend/src/app/components/settings-dashboard.component.ts
  frontend/src/app/components/user-profile.component.ts
  frontend/src/app/interceptors/auth.interceptor.ts
  frontend/src/app/services/auth.service.spec.ts
  frontend/src/app/services/auth.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Update auth interceptor to handle 401 responses with automatic token refresh and prevent concurrent refresh attempts
  frontend/src/app/interceptors/auth.interceptor.ts
  frontend/src/app/services/auth.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Implement CSRF token handling in auth service and HTTP interceptor
  frontend/src/app/app.config.ts
  frontend/src/app/services/auth.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Add authentication API methods and DTOs to orchestrator service
  frontend/src/app/models/orchestrator.model.ts
  frontend/src/app/services/orchestrator.service.ts
Due: build-frontend, test-frontend, deploy-frontend

Create user profile component with current user information display and logout functionalityCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  frontend/src/app/app.html
  frontend/src/app/components/index.ts
  frontend/src/app/components/user-profile.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Wire step 1 registration form to new API with auto-login and error handling in onboarding flow
  frontend/src/app/components/onboarding-flow.component.ts
Due: build-frontend, test-frontend, deploy-frontend

Add OAuth2 connect buttons with popup flow and connection status badges to settings dashboard integrations tab
  frontend/src/app/components/settings-dashboard.component.ts
  frontend/src/app/models/orchestrator.model.ts
Due: build-frontend, test-frontend, deploy-frontend

Implement OAuth2 callback handler with popup and standalone flows
  frontend/src/app/components/oauth2-callback.component.ts
Due: build-frontend, test-frontend, deploy-frontend
